{% extends "master/base.html" %}

{% block content %}
<div class="box">
    <div class="box-header">
      <h1 class="box-title">{{ page_title }}</h1>
      <a href="#" data-url="{% url 'hostcreate' %}" class="add-btn btn bg-purple btn-sm pull-right">添加主机</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="well">
        <form class="form-inline">
          <div class="form-group">
            <input class="form-control" name="name" type="text" value="{{ request.GET.name }}" placeholder="主机名">
          </div>
          <button id="search_btn" type="submit" class="btn btn-default">查询</button>
        </form>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <table id="" class="table table-bordered table-hover" role="grid">
            <thead>
              <tr role="row">
                <th class="text-center">主机名</th>
                <th class="text-center">主机IP</th>
                <th class="text-center">主机环境</th>
                <th class="text-center">主机类型</th>
                <th class="text-center">操作</th>
              </tr>
            </thead>
            <tbody>
              {% for host in hosts %}
              <tr role="row" class="odd">
                <td class="text-center"><a href="#">{{ host.name }}</a></td>
                <td class="text-center"> {{ host.hostip }}</td>
                <td class="text-center"> {{ host.get_settings_display }}</td>
                <td class="text-center"> {{ host.get_type_display }}</td>
                <td class="text-center">
                  <div class="btn-group">
                    <a type="button" href="#" data-url="{% url 'hostedit' host.pk %}" class="edit-btn btn btn-primary btn-xs">编辑</a>
                    <a type="button" href="{% url 'hostdelete' host.pk %}" class="btn del-btn btn-danger btn-xs">删除</a>
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}

{% block footer_script %}
<script>
$(function(){
    $("#hosts").addClass('active');
    $(".add-btn").on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('data-url');
        ui.box({
            title: '添加主机',
            size: 'lg',
            footer: false,
            remote: url
        });
    });

    $(".edit-btn").on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('data-url');
        ui.box({
            title: '编辑主机',
            size: 'lg',
            footer: false,
            remote: url
        });
    });

})
</script>
{% endblock %}
