<form class="form-horizontal" id="createForm" action="" method="post">{% csrf_token %}
  <div class="box-body">
  {% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label class="col-sm-2 control-label">{{ field.label }}
          {% if field.field.required %}
            <span class="text-red">*</span>
          {% endif %}
        </label>
        <div class="col-sm-8">
            {{ field }}
        </div>
        <span class="help-block">
          {% for error in field.errors %}
              {{ error }}
          {% endfor %}
          {{ field.help_text }}
        </span>
    </div>
    {% endfor %}
    <div class="box-footer text-center">
        <button id="createBtn" type="button" class="btn btn-info">提交</button>
        <p class="text-center"><i id='iconWait'></i></p>
    </div>
  </div>
</form>

<script>
    if("{{ pk }}"!="0"){
        var url="{% url 'projectedit' pk %}"
    }
    else {
        var url="{% url 'projectcreate' %}"
    }

$(function() {
    $('#createBtn').on('click', function(e){
        e.preventDefault();
        Net.post({
            url: url,
            data: $("#createForm").serialize(),
            btn: $('#createBtn'),
            icon:$('#iconWait'),
            go: "{% url 'projectall' %}",
        });
    });



});
</script>
