<table class="table table-bordered table-hover" role="grid">
    <tbody>
    <tr>
        <td class="text-center" style="width:200px"> 项目名称</td>
        <td class="text-center">{{ team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 开发人员</td>

        <td class="text-center">
            {% for user in team.user_id.all %}
                {{ user.name }},
        {% endfor %}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 测试人员</td>
        <td class="text-center">
            {% for user in team.test_user.all %}
                {{ user.name }},
        {% endfor %}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 项目目录</td>
        <td class="text-center">{{ team.path }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> git地址</td>
        <td class="text-center">{{ team.git_path }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> nginxconf</td>
        <td class="text-center">{{ team.nginxconf}}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> nginxupstarm</td>
        <td class="text-center">{{ team.nginxupstarm }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 语言</td>
        <td class="text-center">{{ team.get_language_display }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 主机</td>
        <td class="text-center">
            <table class="table table-bordered table-hover" role="grid">

                <thead>
                <tr role="row">
                    <th class="text-center">主机名</th>
                    <th class="text-center">主机IP</th>
                    <th class="text-center">环境</th>
                </tr>
                    {% for host in team.host.all %}
                        <tr role="row" class="odd">
                            <td class="text-center"><a href="#">{{ host.name }}</a></td>
                            <td class="text-center"> {{ host.hostip }}</td>
                            <td class="text-center"> {{ host.get_settings_display }}</td>

                        </tr>
                    {% endfor %}
                </thead>
            </table>


        </td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> nginx主机</td>
        <td class="text-center">
            <table class="table table-bordered table-hover" role="grid">

                <thead>
                <tr role="row">
                    <th class="text-center">主机名</th>
                    <th class="text-center">主机IP</th>
                    <th class="text-center">状态</th>
                </tr>
                    {% for host in team.nginxhost.all %}
                        <tr role="row" class="odd">
                            <td class="text-center"><a href="#">{{ host.name }}</a></td>
                            <td class="text-center"> {{ host.hostip }}</td>
                            <td class="text-center"> {{ host.get_settings_display }}</td>

                        </tr>
                    {% endfor %}
                </thead>
            </table>


        </td>
    </tr>
        <tr>
        <td class="text-center" style="width:200px"> 备注</td>
        <td class="text-center">{{ team.note }}</td>
    </tr>

    </tbody>
</table>