<table class="table table-bordered table-hover" role="grid">
    <tbody>
    <tr>
        <td class="text-center" style="width:200px"> 名称</td>
        <td class="text-center">{{ test.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 项目名称</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 完成总次数请求</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 成功率</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 总用时</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 传输数据</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 响应时间</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 平均每秒完成的请求次数</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 每秒传输的数据</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 实际最高并发连接数</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 成功次数</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>
    <tr>
        <td class="text-center" style="width:200px"> 失败次数</td>
        <td class="text-center">{{ test.team.name }}</td>
    </tr>

    </tbody>
</table>