<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="content-Type" charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
</head>
<body>
<audio controls autoplay id="player"></audio>

</body>
<script type="application/javascript">
    var ws = new WebSocket("ws://192.168.12.53:9528/toy/toy123");
    ws.onmessage = function (data) {
        console.log(data.data);

        document.getElementById("player").src = data.data;
    }

</script>
</html>