<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    <!--{% csrf_token %}-->
    <div>
        <label for="link_user">付款用户</label>
        <input type="text" id="link_user" name="link_user">
    </div>
    <div>
        <label for="tag_name">标签名</label>
        <input type="text" id="tag_name" name="tag_name">
    </div>
    <div>
        <label for="tag_value">标签值</label>
        <input type="text" id="tag_value" name="tag_value">
    </div>
    <input type="submit" value="提交">
</form>
</body>
</html>