aiomysql==0.0.20
aiopg==1.0.0
cffi==1.14.0
click==7.1.2
config==0.5.0.post0
configparser==5.0.0
cryptography==2.9.2
fire==0.3.1
future==0.18.2
importlib-metadata==1.6.0
Jinja2==2.11.2
joblib==0.15.1
livereload==2.6.1
lunr==0.5.8
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs==1.1.2
nltk==3.5
peewee==3.13.3
peewee-async==0.7.0
Pillow==7.1.2
psycopg2-binary==2.8.5
pycparser==2.20
PyMySQL==0.9.2
PyYAML==5.4
redis==3.5.2
regex==2020.5.14
six==1.14.0
termcolor==1.1.0
tornado==6.0.4
tqdm==4.46.0
WTForms==2.3.1
WTForms-JSON==0.3.3
zipp==3.1.0
